.headerOption {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: grey;
  cursor: pointer;
  margin-right: 20px;
}
.headerOption:hover {
  color: black;
}

.headerOption__icon {
  object-fit: contain;
  height: 25px !important;
  width: 25px !important;
}
