.inputoption {
  display: flex;
  cursor: pointer;
  padding: 10px;
  color: grey;
}

.inputoption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  color: black;
}

.inputoption > p {
  padding-left: 5px;
}
